

body{
    background:linear-gradient(to right,rgb(125, 125, 252),rgb(187, 187, 248));

    .container{

        .left_side{
            img{
                width: 400px;
            }
            .displayBox{
                min-height: 400px;
                max-height: 600px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                padding:1rem;
                overflow-y: auto;

            }
        }
    }
}